__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
*.cnf
*.vars
sols_*.txt
allowed_patterns*.txt
!src/chirotopes/data/allowed_patterns*.txt
.pytest_cache/
docs/*.aux
docs/*.log
docs/*.out
docs/*.pdf
docs/*.bbl
docs/*.blg
docs/*.synctex.gz
